.carousel_body {
    width: 100%;
    height: max-content;

    p {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 700;
        background: -webkit-linear-gradient(rgb(18, 11, 148), rgb(1, 147, 177));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.swiper-slide {
    padding: 5px;
    height: 230px;
    margin-bottom: 10px;
}