.commentary_section {
    width: 100%;
    height: max-content;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .commentary_anim {
        width: 100%;
        height: 100px;
        position: relative;
        display: none;

        hr {
            border: 0;
            margin: 0;
            width: 60px;
            height: 60px;
            position: absolute;
            left: 45%;
            border-radius: 50%;
            animation: spin 2s ease infinite;
            background: rgb(15, 11, 87);
            background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);

            &:first-of-type {
                animation-delay: -1.5s;
            }

            &:nth-of-type(2) {
                animation-delay: -1s;
            }

            &:nth-of-type(3) {
                animation-delay: -0.5s;
            }
        }

    }

    .commentary_button {
        position: relative;
        width: 95%;
        height: 1px;
        background-color: rgb(0, 177, 212);
        box-shadow: rgb(1, 147, 177) 0 1px 2px, rgb(45, 45, 158) 0 2px 3px, rgb(18, 11, 148) 0 3px 4px, 5px 5px 15px 5px rgba(0, 0, 0, 0),
        rgb(1, 147, 177) 0 -1px 2px, rgb(45, 45, 158) 0 -2px 3px, rgb(18, 11, 148) 0 -3px 4px;
        margin-bottom: 50px;

        .open_commentary_button {
            position: absolute;
            top: -30px;
            left: 15px;
            width: 200px;
            font-size: 20px;
            height: 60px;
            border-radius: 10px;
            display: flex;
            color: white;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: rgb(15, 11, 87);
            background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);

            &:hover {
                box-shadow: 0 0 4px 1px black;
            }
        }
    }

    .add_commentary_section {
        .show_add_commentary_button {
            width: 150px;
            height: 40px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: white;
            cursor: pointer;
            margin-bottom: 20px;
            background: rgb(15, 11, 87);
            background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);

            &:hover {
                box-shadow: 0 0 4px 1px black;
            }
        }

        .add_commentary {
            padding: 10px;
            width: 700px;
            height: max-content;
            background-color: #fff;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 7px 2px;

            .text_area_space {
                width: 70%;

                p {
                    margin: 0;
                }

                textarea {
                    min-width: 500px;
                    min-height: 100px;
                    font-size: 20px;
                    resize: none;
                }
            }

            .send_action_space {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                .rating {
                    p {
                        margin: 0;
                    }
                }

                .send_commentary_button {
                    width: 100px;
                    height: 40px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    color: white;
                    cursor: pointer;
                    background: rgb(15, 11, 87);
                    background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);

                    &:hover {
                        box-shadow: 0 0 4px 1px black;
                    }
                }
            }
        }
    }

    .userCommentary {
        p {
            margin: 0;
            font-size: 20px;
            font-weight: 700;
        }

        hr {
            border-color: blue;
        }
    }

    .comment_pagination {
        width: 100%;
        height: 100px;
        margin-top: 10px;
        display: flex;
        align-items: flex-end;
    }
}