.cat_area{
    width: 350px;
    height: 100vh;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    .cat_main{
        width: 350px;
        height: calc(100vh - 70px);
        position: fixed;
        left: 0;
        top: 70px;
        background-color: #fff;
        transition: 0.3s;
        &::after{
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            top: -5px;
            left: 32px;
            background-color: rgb(253, 253, 253);
            transform: rotateZ(45deg);
        }
        .catalog_upper{
            width: 100%;
            height: 5%;
        }
        .catalog_rows{
            width: 100%;
            height: 85%;
            margin: 5px;
        }
        footer{
            width: 100%;
            height: 10%;
            background: rgb(15, 11, 87);
            background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
            font-size: 24px;
            color: white;
            a{
                color: white;
            }
        }
    }
}
.background{
    width: calc(100vw - 100px);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.274);
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 100px;
    overflow: hidden;
}
