.wrapper{
    width: 100%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    .header_space{
        width: 100vw;
        height: 70px;
    }
    .main_space{
        width: 100%;
        display: flex;
        .catalog_space{
            width: 350px;
            height: calc(100vh - 70px);
            display: none;
            margin-left: 40px;
            transition: 0.3s;
        }
        .product_body{
            width: calc(100vw - 130px);
            padding: 20px 40px 20px 50px;
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            justify-content: flex-start;
            align-items: center;
        }
    }
    
}