.wrapper {
    width: 100%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    overflow: hidden;

    .header_space {
        width: 100vw;
        height: 70px;
    }

    .main_space {
        margin: auto;
        width: 1400px;
        padding: 0 40px 0 50px;
        display: flex;

        .catalog_space {
            width: 350px;
            height: calc(100vh - 70px);
            display: none;
            margin-left: 40px;
            transition: 0.3s;
        }

        .product_body {
            width: 1400px;
            height: max-content;

            .product_space {
                margin: auto;
                width: 100%;
                height: 100%;
                padding: 20px 40px 20px 50px;
                display: flex;

                .left_section {
                    width: 65%;
                    height: max-content;

                    .img_part {
                        width: 95%;
                        height: max-content;
                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        .img_space {
                            width: 700px;
                            height: 500px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                            box-shadow: 0 0 8px 2px;
                            transition: 0.3s;
                            background-color: #fff;
                            box-shadow: rgb(49, 78, 172) 0 0 12px 4px;

                            img {
                                max-width: 100%;
                                height: 99%;
                            }
                        }

                        .img_hover {
                            transform: scale(1.2);
                        }

                        .img_footer {
                            width: 700px;
                            height: 150px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .rating {
                                width: 200px;
                                height: 100px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                p {
                                    font-size: 20px;
                                    margin-left: 5px;
                                    line-height: 100px;
                                    font-weight: 700;
                                }
                            }

                            .add_to_fav {
                                width: 100px;
                                height: 100px;
                                border: 3px solid black;
                                border-radius: 50%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                cursor: pointer;
                                transition: 0.3s;
                                justify-content: center;

                                img {
                                    width: 40px;
                                    height: 40px;
                                }

                                &:hover {
                                    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 0px 0px 12px 8px rgba(1, 20, 113, 0), inset #ff8000 0 10px 20px;
                                }
                            }
                        }
                    }

                    .commentary_part {
                        width: 95%;
                        height: max-content;
                    }
                }

                .right_section {
                    width: 35%;
                    height: max-content;

                    .info_part {
                        width: 90%;
                        height: max-content;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;

                        .prod_hr{
                            width: 99%;
                            height: 1px;
                            margin: 10px 0;
                            background-color: rgb(0, 177, 212);
                            
                            box-shadow: rgb(1, 147, 177) 0 1px 2px, rgb(45, 45, 158) 0 2px 3px, rgb(18, 11, 148) 0 3px 4px, 5px 5px 15px 5px rgba(0, 0, 0, 0),
                            rgb(1, 147, 177) 0 -1px 2px, rgb(45, 45, 158) 0 -2px 3px, rgb(18, 11, 148) 0 -3px 4px;
                        }

                        .product_name {
                            width: 100%;
                            height: max-content;
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                            font-weight: 700;
                            text-align: left;
                            margin-bottom: 20px;
                        }

                        .price_box {
                            
                            width: 100%;
                            height: 80px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .product_price {
                                font-size: 30px;
                                font-weight: 700;
                            }

                            .add_to_cart_button {
                                width: 120px;
                                height: 60px;
                                border-radius: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                background: rgb(15, 11, 87);
                                background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);

                                img {
                                    width: 55px;
                                    height: 55px;
                                }

                                &:hover {
                                    box-shadow: 0 0 4px 1px black;
                                }
                            }
                        }

                        .description {
                            margin-top: 20px;
                            width: 100%;
                            height: 400px;
                            border-radius: 8px;
                            box-shadow: rgb(49, 78, 172) 0 0 12px 4px;
                            font-size: 20px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}


@keyframes spin {

    0%,
    100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
}