.product_card {
    margin: auto;
    width: 250px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    cursor: default;
    border-radius: 4px;
    box-shadow: rgb(49, 78, 172) 0 0 8px;
    transition: 0.3s;

    &:hover {
        box-shadow: 2px 2px 4px 2px black;
    }
    .product_card_head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            width: 70%;
            img {
                width: 190px;
                height: 140px;
                transition: 0.3s;
                cursor: pointer;
            }
        }
        
        .product_card_menu {
            width: 55px;
            height: 140px;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
    
            img {
                width: 40px;
                height: 45px;
                transition: 0.3s;
                background: rgb(15, 11, 87);
                background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
                border-radius: 5px;
                box-shadow: 0 0 5px 1px black;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    } 

    .product_card_titles {
        margin-top: 5px;
        width: 250px;
        height: 55px;
        display: flex;

        .title_for_name {
            width: 70%;
            height: 45px;
            overflow: hidden;
            margin: 0;
            color: black;
            text-align: left;
            font-size: 16px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        .title_for_price {
            width: 30%;
            .title_for_price_act{
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}