.s_space{
    display: flex;
    .s_area{
        width: 530px;
        height: 50px;
        background-color: #fff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none;
        font-size: 22px;
        padding: 5px;
        &:hover{
            outline: 2px solid black;
            box-shadow: inset 0 0 4px 1px black;
        }
    }
    .s_button{
        width: 70px;
        height: 60px;
        background-color: #fff;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .search_response{
            position: absolute;
            left: -530px;
            width: max-content;
            height: 40px;
            color: red;
            font-size: 22px;
            font-weight: 700;
            display: none;
            text-align: left;
            line-height: 40px;
            z-index: 1000;
            pointer-events: none;
        }
        img{
            width: 40px;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1) rotateZ(20deg);
            }
        }
    }
}
