.wrapper{
    width: 100%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    .header_space{
        width: 100vw;
        height: 70px;
    }
    .main_space{
        width: 100%;
        display: flex;
        .catalog_space{
            width: 350px;
            height: calc(100vh - 70px);
            display: none;
            margin-left: 40px;
            transition: 0.3s;
        }
        .main_body{
            margin: auto;
            width: 1400px;
            min-height: calc(100vh - 70px);
            padding: 20px 40px 20px 50px;
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            background-color: rgb(240, 239, 239);
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            p {
                width: 100%;
                margin: 0;
                padding: 0;
                font-size: 30px;
                font-weight: 700;
                background: -webkit-linear-gradient(rgb(18, 11, 148), rgb(1, 147, 177));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .carousel{
                margin: 20px 0 0 0;
                width: 1400px;
                height: 250px;
            }
        }
    }
    
}