.cart_item_main {
    width: 280px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 3px;
    border-radius: 3px;
    box-shadow: 0 0 5px 1px black;

    img {
        width: 70px;
        height: 60px;
    }

    .cart_item_control {
        width: 210px;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .button_minus,
        .button_plus {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: rgb(15, 11, 87);
            background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            font-size: 20px;
            font-weight: 700;
            padding: 0;
            line-height: 18px;

            &:hover {
                box-shadow: 0 0 5px 2px black;
            }
        }

        .button_minus::after {
            content: '-';
            position: absolute;           
            top: 6;
            left: 12;
        }
        .low_count{
            filter: contrast(40%);
            pointer-events: none;
        }

        .button_plus::after {
            content: '+';
            position: absolute;           
            top: 6;
            left: 12;
        }

        .count_display {
            width: 60px;
            height: 40px;
            background: rgb(15, 11, 87);
            background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
            font-size: 24px;
            color: white;
            border-radius: 5px;
        }

        .button_delete {
            width: 35px;
            height: 35px;
            img{
                width: 35px;
                height: 35px;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .cart_item_text{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .cart_item_name{
            width: 160px;
            height: 38px;
            font-size: 16px;
            text-align: left;
            overflow: hidden;
        }
        .cart_item_price{
            width: 80px;
            height: 38px;
            font-size: 16px;
        }
    }
}