.pagination_area{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    .pagination_space {
        width: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .pagination_space{
            width: 100%;
            height: 20px;
        }
    
        .pagination_control {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            a{
                text-decoration: none;
                .pag_button {
                    width: 200px;
                    font-size: 20px;
                    height: 50px;
                    border-radius: 10px;
                    line-height: 50px;
                    color: white;
                    text-align: center;
                    cursor: pointer;
                    background: rgb(15, 11, 87);
                    background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
                    &:hover{
                        box-shadow: 0 0 5px 2px black;
                    }
                }
            }
    
            .pag_button_detail{
                width: 50px;
                font-size: 20px;
                height: 50px;
                line-height: 50px;
                border-radius: 10px;
                color: white;
                text-align: center;
                cursor: pointer;
                background: rgb(15, 11, 87);
                background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
                &:hover{
                    box-shadow: 0 0 5px 2px black;
                }
            }
        }
    }
}

.button_disabled{
    filter: contrast(50%);
    pointer-events: none;
}