.subcatalog{
    width: 100%;
    height: 40px;
    background: rgb(15, 11, 87);
    background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
    margin-bottom: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    a{
        margin: 0;
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        transition: 0.3s;
        font-size: 16px;
        color: white;
        cursor: pointer;
        &:hover{
            filter: brightness(130%);
        }
    }
    &:hover{
        box-shadow: 0 0 5px 2px black;
    }
}
