.pagination_item{
    width: 30px;
    height: 30px;
    background: rgb(15, 11, 87);
    background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-weight: 700;
    &:hover{
        box-shadow: 0 0 5px 2px black;
    }
}