.catalog_row{
    width: 340px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: rgb(15, 11, 87);
    background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    position: relative;
    &:hover{
        box-shadow: 0 0 5px 2px black;
    }
    .subcatalog_space{
        width: 210px;
        height: calc(100vh - 70px);       
        position: fixed;
        top: 70px;
        left: 340px;
        z-index: 999;
        display: none;
        cursor: auto;
        padding-left: 10px;
        .subcatalog_space_main{
            width: 200px;
            height: 100%;
            background-color: rgba(255, 254, 254, 0.555);
            .subcatalog_space_box{
                width: 100%;
                height: 5%;
            }
        }
        
    }
    
}
.catalog_row_hover{
    &::after{
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        transform: rotateZ(45deg);
        background: rgb(15, 11, 87);
        background: linear-gradient(135deg, rgb(18, 11, 148) 0%,rgb(45, 45, 158) 18%, rgb(2, 111, 133) 100%);
        right: -10px;
        top: 5px;
        z-index: 1000;
    }
}