.breadcrumbs{
    margin: auto;
    width: 1400px;
    height: max-content;
    padding: 0 40px 0 50px;
    display: flex;
    justify-content: flex-start;
    .page_load{
        display: flex;
        margin: auto;
        width: 100vw;
        height: calc(100vh - 70px);
        background: white;
        position: fixed;
        z-index: 2000;
        left: 0;
        justify-content: center;
        align-items: center;

        .page_load_anim{
            hr {
                border: 0;
                margin: 0;
                width: 100px;
                height: 100px;
                position: absolute;
                left: 45%;
                border-radius: 50%;
                animation: spin 2s ease infinite;
                background: rgb(15, 11, 87);
                background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
    
                &:first-of-type {
                    animation-delay: -1.5s;
                }
    
                &:nth-of-type(2) {
                    animation-delay: -1s;
                }
    
                &:nth-of-type(3) {
                    animation-delay: -0.5s;
                }
            }
        }     
    }
}