.cart_wrapper{
    width: 300px;
    height: 260px;
    position: relative;
    left: -120px;
    top: -49px;
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    &::after{
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        top: 50px;
        right: 140px;
        background: rgb(15, 11, 87);
        background: linear-gradient(120deg, rgb(18, 11, 148) 0%, rgb(33, 33, 165) 100%);
        transform: rotateZ(45deg);
    }
    .cart_main{
        width: 300px;
        height: 200px;
        // box-shadow: 2px -2px 4px black, -2px -2px 4px black;
        .cart_header{
            width: 100%;
            height: 100px;
            background: rgb(15, 11, 87);
            background: linear-gradient(180deg, rgb(18, 11, 148) 0%, rgb(45, 45, 158) 18%, rgb(1, 147, 177) 100%);
            font-size: 24px;
            .cart_total_price{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-around;
                color: white;
            }
            .cart_buy_button{
                color: white;
                display: flex;
                justify-content: center;
                a{
                    display: inline-block;
                    text-decoration: none;
                    width: 90px;
                    height: 40px;
                    border: none;
                    outline: none;
                    background-color: white;
                    color: black;
                    border-radius: 6px;
                    transition: 0.3s;
                    font-size: 20px;
                    text-align: center;
                    line-height: 40px;
                    font-weight: 600;
                    &:hover{
                        color: rgb(45, 45, 158);
                        border: 2px solid white;
                        box-shadow: 0 0 4px 1px white;
                    }
                }
            }
        }
        .cart_body{
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #fff;   
            box-shadow: 2px 2px 4px rgb(49, 78, 172), -2px 2px 4px rgb(49, 78, 172);
        }
    }
}